/* Encabezados */
h1 {
    font-weight: 400;
    color: #222; 
    text-align: center;
    margin-top: 20px;
}

/* Mensajes */
#pantalla-bienvenida h1 {
    margin: 0 auto;
    font-size: 18px;
    color: #555;
    padding: 10px;
    text-align: center;
}
